/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
/* CSS Reset */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --main: #243447;
    --second: #141d26;
    --third: #c51f5d;
    --text: #fff;
    --second-text: #ccc;
}
html {
    height: 100%;
}
body {
    background-color: var(--main);
    display: grid;
    font-family: 'Roboto', sans-serif;
    /* grid-template-format: grid row / grid-column */
    grid-template: repeat(6, 1fr) / repeat(5, 1fr); 
    margin: 0;
    height: max-content;
}
hr {
    border: 1px solid;
    color: var(--second-text);
    margin: 20px 0 20px 0;
}
nav {
    background-color: var(--third);
    box-shadow: 3px 3px 3px #222;
    color: var(--text);
    display: flex;
    flex-direction: column;
    gap: 40px;
    grid-column: 1/2;
    grid-row: 1/7;
    height: 100%;
    padding-top: 20px;
}
nav div {
    display: grid;
    align-items: center;
    column-gap: 20px;
    grid-template-columns: 30px 115px;
    padding-left: 20px;
    row-gap: 20px;
}
nav a {
    color: var(--text);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}
header {
    background-color: var(--second);
    box-shadow: 3px 3px 3px #222;
    color: var(--text);
    grid-column: 2/6;
}
#upper-header {
    height: 40%;
}
.search {
    display: flex;
    align-items: center;
    gap: 20px;
}
.profile-module {
    display: flex;
    align-items: center;
    gap: 20px;
}
#lower-header {
    align-items: center;
    height: 60%;
}
.sub-header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}
header input {
    background-color: var(--main);
    border: none;
    border-radius: 20px;
    color: var(--text);
    font-size: 18px;
    padding: 10px;
    width: 550px;
}
img {
    border-radius: 50%;
}
.img-small {
    height: 50px;
}
header img {
    height: 80px;
}
.user-module {
    display: flex;
}
.user-module div {
    align-self: center;
}
.user-module div * {
    margin: 5px 20px;
}
header button {
    background-color: var(--third);
    border: none;
    border-radius: 20px;
    color: var(--text);
    font-size: 16px;
    font-weight: 600;
    margin: 0 10px;
    padding: 10px 25px;
    text-align: center;
    width: 105px;
}
.content {
    color: var(--text);
    display: grid;
    grid-template: 40px 370px 60px 370px / 1fr 1fr 350px;
    grid-column: 2/6;;
    grid-row: 2/7;
    padding: 30px;
}
.content-left {
    grid-column: 1/3;
}
.content-right {
    grid-column: 3/4;
    margin-left: 20px;
}
#projects-header {
    grid-row: 1/2;
}
#projects {
    display: grid;
    gap: 20px;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    grid-row: 2/5;
}
.project {
    background-color: var(--second);
    border-left: 10px solid var(--third);
    border-radius: 10px;
    box-shadow: 3px 3px 3px #222;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.project h3 {
    margin-bottom: 10px;
}
.project p {
    color: var(--second-text);
    margin-bottom: 60px;
}
.project div {
    text-align: right;
}
.project div svg {
    margin: 0 10px 0 10px;
}
#announcements-header {
    grid-row: 1/2;
}
#announcements {
    background-color: var(--second);
    border-radius: 10px;
    box-shadow: 3px 3px 3px #222;
    grid-row: 2/3;
    padding: 30px;
}
#announcements .head-text {
    font-weight: 500;
    margin-bottom: 5px;
}
#announcements .subtext {
    color: var(--second-text);
    font-size: 14px;
}
#trending-header {
    align-self: center;
    grid-row: 3/4;
}
#trending {
    background-color: var(--second);
    border-radius: 10px;
    box-shadow: 3px 3px 3px #222;
    display: grid;
    column-gap: 10px;
    grid-template: repeat(4, 1fr) / 60px 1fr;
    grid-row: 4/5;
    padding: 0 20px;
}
#trending img{
    align-self: center;
    grid-column: 1/2;
}
#trending div {
    align-self: center;
}
#trending div p {
    margin: 5px 0;
}
#trending .trending-title {
    color: var(--second-text);
}